<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyRecipes - @ViewBag.Title</title>
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/RecipesStyleSheet.css" />
</head>
<body >
    <div class="content">
        <header>
            <a asp-controller="Recipes" asp-action="Home"><img src="~/img/banner.jpg" height="200" width="980" /></a>
            <h1>MyRecipes</h1>
        </header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light rnavbar">
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a asp-action="Home" class="btn btn-group navbar-brand ">Home</a>
                    <a asp-action="List" class="btn btn-group navbar-brand ">List Recipes</a>
                    @*<a asp-action="AddRecipe" class="btn btn-group navbar-brand">Add Recipes</a>*@
                    @*<a asp-action="ReadReviews" class="btn btn-group navbar-brand">Read Reviews</a>*@
                </div>
            </div>
        </nav>
        <article>
            @RenderBody()
        </article>
        <footer>
            &copy; Andre Brandao Teodoro - Centennial College - Fall 2019
        </footer>
    </div>
</body>
</html>
