@model RecipeReviewsViewModel
@{
    ViewData["Title"] = "ReviewRecipe";
}

<h2>Recipe Review</h2>
<h4>@Model.Recipe.RecipeName</h4>
<table class="table table-striped">
    <thead>
        <th>Rating</th>
        <th>Description</th>
    </thead>
    @foreach (var r in Model.Reviews)
    {
        <tr>
            <td>@r.Rating</td>
            <td>@r.Description</td>
        </tr>
    }
</table>
