@model IEnumerable<Recipe>
@{
    ViewData["Title"] = "ReviewRecipe";
}

<h2>Recipe Review</h2>

<table class="table table-striped">
    <thead>
        <th>Recipe</th>
        <th>Dificulty</th>
        <th>Taste</th>
        <th>Timewise</th>
    
    </thead>
    @foreach (var rev in Model ?? new List<Recipe>())
    {
        <td>@rev.RecipeName</td>
        <td>@rev.Review</td>

    }
</table>
